.contact-section {
    background-color: #2c3e50; /* Same background color as header */
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.contact-title h2 {
    font-size: 23px;
    color: white;
    margin: 0;
}

.contact-details {
    display: flex;
    gap: 15px;
    align-items: center;
}

.contact-item {
    font-size: 16px;
    color: white;
}

.contact-item a, .contact-item input {
    color: white;
    text-decoration: none;
    font-size: 16px;
    border: none;
    background: none;
}

.contact-icons {
    display: flex;
    gap: 15px;
}

.contact-icons img {
    width: 24px; /* Adjust icon size */
    height: 24px;
    transition: transform 0.3s ease;
}

.contact-icons img:hover {
    transform: scale(1.5); /* Slightly enlarge on hover */
}
