<header>
    <nav class="navbar">
      <div class="logo">Sai Karthik Sikkem</div>
      <div class="menu-icon" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="nav-links">
        <span class="close-menu" (click)="toggleMenu()">&times;</span>
        <li><a href="javascript:void(0)" (click)="scrollToSection('home')">Home</a></li>
      <li><a href="javascript:void(0)" (click)="scrollToSection('skills')">Skills</a></li>
      <li><a href="javascript:void(0)" (click)="scrollToSection('experience')">Experience</a></li>
      <li><a href="javascript:void(0)" (click)="scrollToSection('projects')">Projects</a></li>
      <li><a href="javascript:void(0)" (click)="scrollToSection('contact')">Contact</a></li>
      </ul>
    </nav>
  </header>
  