<section class="contact-section">
    <div id="contact" class="contact-section"></div>
    <div class="contact-container">
        <!-- Title on the left -->
        <div class="contact-title">
            <h2>Get in Touch</h2>
        </div>

        <!-- Contact details in the center -->
        <div class="contact-details">
            <div class="contact-item">
                <a href="tel:+14795048373">
                    <span>+1 (479) 504-8373</span>
                </a>
            </div>
            <div class="contact-item">
                <a href="mailto:karthik18183@gmail.com" target="_blank">
                    <input type="email" value="karthik18183@gmail.com" readonly>
                </a>
            </div>
            
        </div>

        <!-- Icons on the right -->
        <div class="contact-icons">
            <a href="https://www.linkedin.com/in/sai-karthik-33a94918b" target="https://www.linkedin.com/in/sai-karthik-33a94918b">
                <img src="assets/images/linkedin.png" alt="LinkedIn Icon">
            </a>
            <a href="https://karthik18183.github.io/karthik-portfolio/" target="https://karthik18183.github.io/karthik-portfolio/">
                <img src="assets/images/website.png" alt="Website Icon">
            </a>
        </div>
    </div>
</section>