<section class="skills-section">
    <div id="skills" class="skills-section">
    <h2>Skills</h2>
    
    <p class="job-title"><b>Web Development | Programming | Database | Automation | Data Visualization</b></p>
    <div class="skills-container">
        <div class="skill-card">
            <img src="assets/images/html.png" alt="HTML" class="skill-icon">
            <img src="assets/images/css.png" alt="CSS" class="skill-icon">
            <img src="assets/images/js.png" alt="JavaScript" class="skill-icon">
            <img src="assets/images/angular.png" alt="angular" class="skill-icon">
            <img src="assets/images/c.png" alt="C" class="skill-icon">
            <img src="assets/images/java.png" alt="Java" class="skill-icon">
            <img src="assets/images/sql.png" alt="SQL Developer" class="skill-icon">
            <img src="assets/images/pbi.jpg" alt="Power BI" class="skill-icon">
            <img src="assets/images/tb.png" alt="Tableau" class="skill-icon">
            <img src="assets/images/dw.png" alt="Data Wrapper" class="skill-icon">
            <img src="assets/images/autocad.png" alt="AutoCAD" class="skill-icon">
            <img src="assets/images/solidworks.png" alt="SolidWorks" class="skill-icon">
            <img src="assets/images/articulate.png" alt="Articulate Storyline 360" class="skill-icon">
            <img src="assets/images/lectora.png" alt="Lectora Inspire" class="skill-icon">
            <img src="assets/images/postman.png" alt="Postman" class="skill-icon">
            <img src="assets/images/selenium.jpg" alt="Selenium" class="skill-icon">
            <img src="assets/images/git.png" alt="GitLab" class="skill-icon">
            <img src="assets/images/jira.jpg" alt="Jira" class="skill-icon">
            <img src="assets/images/soapui.png" alt="SoapUI" class="skill-icon">
            <img src="assets/images/servicenow.png" alt="servicenow" class="skill-icon">
        </div>
    </div>
    </div>
  </section>
  
  <app-experience></app-experience>
