<div class="container">
  <div class="left-section" *ngIf="true" @downSlide>
    <h1>Sai Karthik Sikkem</h1>
    <p class="animated-title">Software Engineer | Web Developer</p>
    <div class="button-container">
      <a href="javascript:void(0);" (click)="scrollToAboutMe()" class="button"
        >Learn More</a
      >
      <a
        href="assets/files/SikkemSaiKarthik_Resume.pdf"
        download="SikkemSaiKarthik_Resume.pdf"
        class="button"
        >Download Resume</a
      >
    </div>
  </div>
  <div class="right-section" *ngIf="true" @downSlide>
    <img src="assets/images/profile1.jpg" alt="Profile Image" />
  </div>
</div>

<div id="about-me" class="about-section">
  <h2>About Me</h2>
  <p class="job-title"><b>Software Engineer | Web Developer</b></p>
  <p>
    Hello! I am a passionate Software Engineer with over 4 years of experience
    in designing, developing, and optimizing distributed systems and web-based
    applications. My expertise lies in full-stack development ensuring scalable
    and high-performance software solutions.
  </p>

  <p>
    I’ve successfully contributed to large-scale projects involving real-time
    data processing, system integrations, and automation enhancing system
    efficiency and reliability at Verizon Telecommunications. With strong
    problem-solving skills,I have improved product reliability,performance, and
    functionality. Currently, I'm pursuing my Master's in Information Science at
    the University of Arkansas at Little Rock, where I'm further expanding my
    skills in data protection, privacy, and artificial intelligence.
  </p>

  <p>
    Beyond my technical expertise, I’m a strong believer in continuous learning,
    and I thrive in Agile environments where collaborating with cross-functional
    teams to deliver innovative, high-quality software solutions. If you're
    looking for a committed software engineer with hands-on experience in
    delivering secure and high-quality solutions, let's connect and explore how
    we can work together!
  </p>
</div>
