<section class="experience-section">
    <div id="experience" class="experience-section"></div>
    <h2>Professional Experience</h2>
    <p class="job-title"><b>University Of Arkansas | Tata Consultancy Services | Commlab India LLP</b></p>
    <div class="experience-card">
        <div class="company-details">
            <img src="assets/images/ualr.jpg" alt="UALR Logo" class="company-logo">
            <div>
                <h3>University of Arkansas at Little Rock | Little Rock, Arkansas | Oct 2023 - Present</h3>
                <h4>Graduate Assistant – CSTEM IT Services</h4>
            </div>
        </div>
        <ul class="experience-details">
            <li>Provided comprehensive IT support, overseeing hardware and software troubleshooting, network configuration, and server maintenance to ensure uninterrupted operations for the university's technology infrastructure. Actively diagnosed and resolved technical issues across multiple systems, ensuring prompt and effective solutions that minimized downtime and enhanced system reliability.</li>
            <li>Collaborated with key stakeholders to implement improvements in network management and server performance, enhancing the overall efficiency of the IT infrastructure. Additionally, developed strategies to streamline the troubleshooting process, ensuring a more organized and timely resolution of support requests. Played a pivotal role in maintaining the smooth functioning of critical university services, ensuring a high standard of IT support and operational excellence.</li>
        </ul>
    </div>
  
    <div class="experience-card">
        <div class="company-details">
            <img src="assets/images/tcs.png" alt="Tata Consultancy Services Logo" class="company-logo">
            <div>
                <h3>Tata Consultancy Services | Hyderabad, India | Apr 2022 - Jun 2023</h3>
                <h4>Systems Engineer</h4>
            </div>
        </div>
        <ul class="experience-details">
            <li>Evaluated and optimized software systems to enhance product reliability, focusing on validating database interactions for accuracy, consistency, and performance improvements.</li>
            <li>Designed and executed a wide range of test cases that helped uncover and address critical system defects, contributing to overall system stability and performance enhancements. </li>
            <li>Managed the validation of international and domestic telephone numbers for Verizon, streamlining the process and reducing the time taken for address verification, resulting in improved efficiency for the system.</li>
            <li>Led the migration of Verizon’s number management system, ensuring a smooth transition by collaborating with key stakeholders, developing detailed documentation, and performing comprehensive testing to ensure full functionality post-migration.</li>
            <li>Actively participated in Agile methodology, engaging in daily stand-ups, sprint planning, and backlog grooming sessions to facilitate seamless project progress and team collaboration, ensuring deliverables were met on time and with high quality.</li>
        </ul>
    </div>
  
    
  
    <div class="experience-card">
        <div class="company-details">
            <img src="assets/images/commlab.png" alt="Commlab Logo" class="company-logo">
            <div>
                <h3>Commlab India LLP | Hyderabad, India | Sep 2020 - Apr 2021</h3>
                <h4>E-Learning Developer</h4>
            </div>
        </div>
        <ul class="experience-details">
            <li>Created and delivered engaging eLearning courses utilizing Articulate Storyline 360 and Lectora Inspire, focusing on enhancing the overall learning experience and meeting specific client requirements. Collaborated with instructional designers and subject matter experts to ensure that course content was accurate, interactive, and aligned with clients' educational goals.</li>
            <li>Contributed to the improvement of course structure by assisting in the design and analysis of learning experiments, refining the content delivery approach to make it more efficient and impactful. Worked closely with clients to tailor content, ensuring that the final product effectively addressed the learning objectives while maintaining a high level of quality and engagement.</li>
        </ul>
    </div>
  </section>
  <app-projects></app-projects>