<section class="experience-section">
    <div id="experience" class="experience-section"></div>
    <h2>Professional Experience</h2>
    <p class="job-title"><b>University Of Arkansas | Tata Consultancy Services | Commlab India LLP</b></p>
    <div class="experience-card">
        <div class="company-details">
            <img src="assets/images/ualr.jpg" alt="UALR Logo" class="company-logo">
            <div>
                <h3>University of Arkansas at Little Rock | Little Rock, Arkansas | Oct 2023 - Present</h3>
                <h4>Graduate Assistant – CSTEM IT Services</h4>
            </div>
        </div>
        <ul class="experience-details">
            <li>Provided comprehensive IT support for CSTEM, overseeing hardware and software troubleshooting, network configuration, and server maintenance to ensure uninterrupted operations for the university's technology infrastructure. Actively diagnosed and resolved technical issues across multiple systems, minimizing downtime and enhancing system reliability. Assisted students and faculty with troubleshooting hardware, software, and network issues, ensuring the smooth operation of lab environments.</li>
            <li>Collaborated with key stakeholders to implement improvements in network management and server performance, optimizing system efficiency. Developed strategies to streamline the troubleshooting process, improving response times by 30% and ensuring timely resolution of support requests. Additionally, mentored students in IT best practices, enhancing their troubleshooting skills and efficiency by 20%. Played a pivotal role in maintaining the smooth functioning of critical university services, ensuring a high standard of IT support and operational excellence.</li>
        </ul>
    </div>
  
    <div class="experience-card">
        <div class="company-details">
            <img src="assets/images/tcs.png" alt="Tata Consultancy Services Logo" class="company-logo">
            <div>
                <h3>Tata Consultancy Services | Hyderabad, India | Apr 2022 - Jun 2023</h3>
                <h4>Systems Engineer</h4>
            </div>
        </div>
        <ul class="experience-details">
            <li>Involved in all stages of the Software Development Life Cycle (SDLC), including requirement analysis, design, implementation, and deployment, while seamlessly integrating best practices like test-driven development, continuous integration, and continuous delivery. Spearheaded the migration and upgrade of legacy applications, boosting system performance, scalability, and reliability.</li>
            <li>Designed and implemented user-friendly front-end applications, improving data flow and overall user experience.Developed automated testing, validation, and deployment workflows to reduce production issues and ensure software integrity.Performed in-depth debugging, user acceptance testing, and code reviews to strengthen system stability and functionality. </li>
            <li>Enhanced database performance through query optimization and tuning, resulting in faster data retrieval. Implemented automated CI/CD pipelines, ensuring rapid deployments and minimizing production errors. Spearheaded the migration and upgrade of legacy applications, boosting system performance, scalability, and reliability.</li>
            <li>Actively participated in Agile methodology, engaging in daily stand-ups, sprint planning, and backlog grooming sessions to facilitate seamless project progress and team collaboration, ensuring deliverables were met on time and with high quality.</li>
        </ul>
    </div>
  
    
  
    <div class="experience-card">
        <div class="company-details">
            <img src="assets/images/commlab.png" alt="Commlab Logo" class="company-logo">
            <div>
                <h3>Commlab India LLP | Hyderabad, India | Sep 2020 - Apr 2021</h3>
                <h4>E-Learning Developer</h4>
            </div>
        </div>
        <ul class="experience-details">
            <li>During my tenure at CommLab India, I began by focusing on creating engaging e-learning experiences. This role honed my ability to translate complex information into user-friendly and interactive content. I collaborated closely with instructional designers and subject matter experts to ensure educational goals were met, while also refining course structures for efficiency and impact.</li>
            <li>I focused on building and ensuring the quality of interactive web applications within an Agile environment. I leveraged my skills to develop dynamic and responsive front-end components. I also played a key role in ensuring the reliability of these applications through comprehensive testing practices.</li>
            <li>Contributed to the improvement of course structure by assisting in the design and analysis of learning experiments, refining the content delivery approach to make it more efficient and impactful. Worked closely with clients to tailor content, ensuring that the final product effectively addressed the learning objectives while maintaining a high level of quality and engagement.</li>
        </ul>
    </div>
  </section>