<section class="contact-section">
    <div class="contact-title">
        <h2>Get in touch</h2>
    </div>
    <div class="contact-details">
        <div class="contact-item">
            <a href="tel:+14795048373">
               
                <span>+1 (479) 504-8373</span>
            </a>
        </div>
        <div class="contact-item">
            <a href="mailto:karthik18183@gmail.com" target="karthik18183@gmail.com"> 
                
                <input type="email" value="karthik18183@gmail.com" readonly>
            </a>
        </div>
        <div class="contact-item">
            <a href="assets/resume.pdf" download="Resume-SaiKarthik.pdf">
                
                Resume-SaiKarthik.pdf
            </a>
        </div>
    </div>
    <div class="contact-icons">
        <a href="https://www.linkedin.com/in/yourprofile" target="www.linkedin.com/in/sai-karthik-33a94918b">
            <img src="assets/linkedin.png" alt="LinkedIn Icon">
        </a>
        <a href="https://yourwebsite.com" target="_blank">
            <img src="assets/website.png" alt="Website Icon">
        </a>
    </div>
</section>
