<!-- <div [@fadeInSequence]="animationState" class="center">
  <span *ngFor="let word of words" class="word">{{ word }}</span>
</div> -->
<div class="container">
  <div class="left-section" *ngIf="true" @downSlide>
    <h1>
      Sai Karthik Sikkem
    </h1>
    <p class="animated-title" >Software Engineer | Web Developer</p>
    <a href="javascript:void(0);" (click)="scrollToAboutMe()" class="button">Learn More</a>

  </div>
  <div class="right-section" *ngIf="true" @downSlide>
    <img src="assets/images/profile.jpg" alt="Profile Image">
  </div>
</div>

<div id="about-me" class="about-section">
  <h2>About Me</h2>
  <p class="job-title"><b>Software Engineer | Web Developer</b></p>
  <p>Hello! With over 4 years of experience in software engineering, I specialize in testing, design, development, and implementation of real-time distributed systems and web-based platforms. Known for my expertise in Web Development, UI testing, and API testing using frameworks like Selenium, I’m dedicated to building robust, reliable software solutions.</p>
  
  <p>I’ve successfully contributed to large-scale projects such as the CAMEO to OSQAR migration at Verizon Telecommunications and have improved product reliability while validating database interactions for integrity, performance, and functionality. Currently, I'm pursuing my Master's in Information Science at the University of Arkansas at Little Rock, where I'm further expanding my skills in data protection, privacy, and artificial intelligence.</p>
  
  <p>Beyond my technical expertise, I’m a strong believer in continuous learning, and I thrive in Agile environments where collaboration and adaptability are key. If you're looking for a committed software engineer with hands-on experience in delivering secure and high-quality solutions, let's connect and explore how we can work together!</p>
</div>

<app-skills></app-skills>


