<section class="skills-section">
  <h2>Skills</h2>
  <p class="job-title"><b>Web Development | Programming | Database | Automation | Data Visualization</b></p>
  <div class="skills-container">
      <div class="skill-card">
          <img src="assets/html.png" alt="HTML" class="skill-icon">
          <img src="assets/css.png" alt="CSS" class="skill-icon">
          <img src="assets/js.png" alt="JavaScript" class="skill-icon">
          <img src="assets/angular.png" alt="angular" class="skill-icon">
          <img src="assets/c.png" alt="C" class="skill-icon">
          <img src="assets/java.png" alt="Java" class="skill-icon">
          <img src="assets/sql.png" alt="SQL Developer" class="skill-icon">
          <img src="assets/pbi.jpg" alt="Power BI" class="skill-icon">
          <img src="assets/tb.png" alt="Tableau" class="skill-icon">
          <img src="assets/dw.png" alt="Data Wrapper" class="skill-icon">
          <img src="assets/autocad.png" alt="AutoCAD" class="skill-icon">
          <img src="assets/solidworks.png" alt="SolidWorks" class="skill-icon">
          <img src="assets/articulate.png" alt="Articulate Storyline 360" class="skill-icon">
          <img src="assets/lectora.png" alt="Lectora Inspire" class="skill-icon">
          <img src="assets/postman.png" alt="Postman" class="skill-icon">
          <img src="assets/selenium.jpg" alt="Selenium" class="skill-icon">
          <img src="assets/git.png" alt="GitLab" class="skill-icon">
          <img src="assets/jira.jpg" alt="Jira" class="skill-icon">
          <img src="assets/soapui.png" alt="SoapUI" class="skill-icon">
          <img src="assets/servicenow.png" alt="servicenow" class="skill-icon">
      </div>
  </div>
</section>
