<section class="projects-section">
  <div id="projects" class="projects-section">
    <h2>Projects</h2>
    
    <p class="job-title"><b>Data Visualization | Telecommunications | Migration | Courseware Design</b></p>
    <br>
    <div class="projects-container">
      <!-- Project 1 -->
      <div class="project-card project1" style="background-image: url('assets/images/housing.jpg');">
        <h3><b>Housing Market Insights - Data Visualization</b></h3>
        <p><strong>August 2023 - December 2023</strong></p>
        <p>
            Led a comprehensive data analysis project focused on visualizing critical housing market insights.
            The project involved gathering and analyzing real estate datasets to uncover trends in pricing,
            supply and demand shifts, and regional disparities. Utilized data visualization techniques to build
            interactive dashboards and charts that showcased market dynamics and seasonal patterns. Provided
            actionable insights aiding in decision-making processes related to investments, property valuations,
            and market forecasting. The findings enabled deeper understanding of emerging trends and highlighted
            key areas of growth or risk across various regions.
        </p>
      </div>
  
      <!-- Project 2 -->
      <div class="project-card project2" style="background-image: url('assets/images/verizon.jpg');">
        <h3><b>Verizon Telecommunications - CAMEO</b></h3>
        <p><strong>June 2021 – June 2023</strong></p>
        <p>
            Managed the International and Domestic Number Management System, playing a crucial role in optimizing
            and automating key operations. Spearheaded processes such as customer creation, telephone number
            assignment, number porting, and address validation, ensuring seamless execution and adherence to
            regulatory standards. Introduced strategic improvements to streamline number allocation and reduce
            manual interventions, resulting in increased operational efficiency and accuracy. Collaborated with
            cross-functional teams to integrate system enhancements, enhancing service reliability and customer
            experience. Successfully aligned system processes with business goals, leading to better resource
            management and improved service delivery.
        </p>
      </div>
  
      <!-- Project 3 -->
      <div class="project-card project3" style="background-image: url('assets/images/osqar.jpg');">
        <h3><b>CAMEO To OSQAR Migration </b></h3>
        <p><strong>Jan 2023 – June 2023</strong></p>
        <p>
            Played a pivotal role in the end-to-end migration of Verizon’s Number Management system from the legacy
            CAMEO platform to the new OSQAR platform. Led the planning, execution, and validation phases, ensuring
            data integrity, minimal service disruptions, and a smooth transition for all stakeholders. Coordinated
            with cross-functional teams to redefine workflows, test system compatibility, and address technical
            challenges during the migration process. Developed and implemented robust data mapping and migration
            strategies to maintain consistency and accuracy. The successful migration enhanced system performance,
            streamlined operations, and aligned the platform with Verizon’s long-term business goals.
        </p>
      </div>
  
      <!-- Project 4 -->
      <div class="project-card project4" style="background-image: url('assets/images/elearning1.jpg');">
        <h3><b>CommLab India LLP</b></h3>
        <p><strong>Sep 2020 – April 2021</strong></p>
        <p>
            Contributed to the design and development of interactive eLearning courses using industry-leading tools
            such as Articulate Storyline 360 and Lectora Inspire. Collaborated closely with instructional designers
            and subject matter experts to translate learning objectives into engaging digital training modules.
            Focused on improving course interactivity, accessibility, and user experience to meet diverse learner
            needs. Actively participated in refining course content and enhancing multimedia elements to create
            compelling and effective learning experiences. Ensured adherence to industry standards and best practices
            in eLearning design.
        </p>
      </div>
    </div>
  </div>
  </section>
  <app-footer></app-footer>